wordpress:
    sites:
        sitenameA.com:
            path: /home/siteAuser/www
            username: siteAuser
            password: siteApass
            database: siteAdb
            dbhost: localhost
            dbuser: siteAdbuser
            dbpass: siteAdbpass
        sitenameB.com:
            path: /home/siteBuser/www
            username: siteBuser
            password: siteBpass
            database: siteBdb
            dbhost: localhost
            dbuser: siteBdbuser
            dbpass: siteBdbpass
